# Database Configuration
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=pas_db;Username=postgres;Password=54321

# JWT Configuration
Jwt__AccessKey=SENHA_SUPER_FORTE_LONGA_PARA_MELHOR_SEGURANÇA
Jwt__RefreshKey=SENHA_SUPER_MEGA_FORTE_LONGA_PARA_MELHOR_SEGURANÇA
Jwt__ResetPasswordKey=SENHA_RESET_PASSWORD_UNICA_E_FORTE
Jwt__Issuer=AuthApi
Jwt__Audience=AuthApiUsers
Jwt__AccessExpirationMinutes=15
Jwt__ResetPasswordExpirationMinutes=15
Jwt__RefreshExpirationDays=30

# CORS Configuration
Cors__AllowedOrigins=http://localhost:3000

# caminho para o upload de arquivos
FILE_PATH=uploads

# URL do frontend
FRONTEND_URL=http://localhost:4321

# Credenciais de email
MAIL_USER=
MAIL_PASS=

# Criptografia AES-256 (chave deve ter exatamente 32 bytes/256 bits)
Encryption__Key=MinhaChaveSecretaDe32BytesAES256